<!DOCTYPE html>
<html>
<head><title>Rekomendasi Masakan untuk Kamu</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h2>Rekomendasi Masakan</h2>

  {% if hasil %}
    {% for item in hasil %}
      <h3>{{ item.nama }}</h3>
      <p><strong>Bahan:</strong> {{ item.bahan }}</p>
      <p><strong>Alat:</strong> {{ item.alat }}</p>
      <p><strong>Langkah:</strong><br> {{ item.langkah|replace('\n', '<br>')|safe }}</p>
      <h3>{{ item.nama }} - Skor: {{ item.skor }}%</h3>
      <hr>
    {% endfor %}
  {% else %}
    <p>Tidak ada resep yang cocok.</p>
  {% endif %}

  <a href="/">Kembali</a>
</body>
</html>
