<!DOCTYPE html>
<html>
<head><title>Rekomendasi Masakan</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h2>Pilih Bahan dan Alat yang Kamu Punya</h2>
  <form method="POST">
    <h4>Bahan:</h4>
    <input type="checkbox" name="bahan" value="telur"> Telur<br>
    <input type="checkbox" name="bahan" value="mie instan"> Mie Instan<br>
    <input type="checkbox" name="bahan" value="nasi"> Nasi<br>
    <input type="checkbox" name="bahan" value="bawang merah"> Bawang Merah<br>

    <h4>Alat:</h4>
    <input type="checkbox" name="alat" value="rice cooker"> Rice Cooker<br>
    <input type="checkbox" name="alat" value="wajan"> Wajan<br><br>

    <button type="submit">Cari Rekomendasi</button>
  </form>
</body>
</html>
